.employee_photo {
    background-color: #fff;
    border: 2px solid #332464;
    border-radius: 0.25rem;
    max-width: 100%;
    width: 175px;
    height: 225px;
}

.col {
    margin-top: 20px;
    text-align: right;
}

.caption_title {
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.for_top_margin {
    margin-top: 20px;
}

tbody tr:hover {
    background: #332464; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
}